---
layout: page
description: "Mobile Software Developer Turned Developer Advocate"
---

<p>Hi! I'm glad you could make it. You can check out a few things:</p>
<ul>
    <li>My blog is below - I try to post everything that I write either here or elsewhere.</li>
    <li>I have an open source iOS camera framework called Lumina <a href="https://github.com/dokun1/Lumina">(click here!)</a> that is the fastest way (in my opinion) to get started with CoreML.</li>
    <li>I also have a YouTube channel <a href="https://www.youtube.com/channel/UCxk0Eb8pUru-9D60sRJxaLQ/videos">(click here!)</a> that I am trying to update with new content as much as possible</li>
</ul>

<p>If you'd like, there is some more information about me up in the top right hand corner. Have fun!</p>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
