---
layout: page
description: Developer/Advocate
---

<p>Hi! Thanks for coming all the way over here.</p>

<p>Are you feeling creative? Draw something in the box below and send it to me by clicking the Send button!</p>
<body onload="init()">
    <div align="center">
        <div style="display: inline-block;">Choose Color</div>
        <div style="display:inline-block;width:17px;height:17px;background:red;border: 1px solid" id="red" onclick="color(this)"></div>
        <div style="display:inline-block;width:17px;height:17px;background:orange;border: 1px solid" id="orange" onclick="color(this)"></div>
        <div style="display:inline-block;width:17px;height:17px;background:yellow;border: 1px solid" id="yellow" onclick="color(this)"></div>
        <div style="display:inline-block;width:17px;height:17px;background:green;border: 1px solid" id="green" onclick="color(this)"></div>
        <div style="display:inline-block;width:17px;height:17px;background:blue;border: 1px solid" id="blue" onclick="color(this)"></div>
        <div style="display:inline-block;width:17px;height:17px;background:indigo;border: 1px solid" id="indigo" onclick="color(this)"></div>
        <div style="display:inline-block;width:17px;height:17px;background:violet;border: 1px solid" id="violet" onclick="color(this)"></div>
        <div style="display:inline-block;">Eraser</div>
        <div style="display: inline-block;width:17px;height:17px;background:white;border:1px solid;" id="white" onclick="color(this)"></div>
        <div></div>
        <canvas id="can" width="400" height="400" style="border:2px solid;max-width: 400px;position: relative;min-width: 200px;margin: 0"></canvas>
        <img id="canvasimg" width="400" height="400">
        <div></div>
        <input type="text" placeholder="Enter name" id="canvasNameField" size="30" style="display: inline-block;">
        <input type="button" value="Send" id="savebtn" size="30" onclick="send()" style="display:inline-block;">
        <input type="button" value="Clear" id="clr" size="23" onclick="erase()" style="display: inline-block;">
    </div>
</body>

<p>You can check out a few other things here:</p>
<ul>
    <li>My blog is below - I try to post everything that I write either here or elsewhere.</li>
    <li>I have an open source iOS camera framework called Lumina <a href="https://github.com/dokun1/Lumina">(click here!)</a> that is the fastest way (in my opinion) to get started with Core ML.</li>
    <li>I also have a YouTube channel <a href="https://www.youtube.com/channel/UCxk0Eb8pUru-9D60sRJxaLQ/videos">(click here!)</a> that I am trying to update with new content as much as possible</li>
</ul>

<p>If you'd like, there is some more information about me up in the top right hand corner. Have fun!</p>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

<script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 2;
    
    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;

        canvas.addEventListener("touchstart", function(e) {
            e.preventDefault();
            findxy('touchdown', e, canvas);
        }, false);
        canvas.addEventListener("touchmove", function(e) {
            e.preventDefault();
            findxy('touchmove', e, canvas);
        }, false);
        canvas.addEventListener("touchcancel", function(e) {
            e.preventDefault();
            findxy('up', e, canvas);
        }, false);
        canvas.addEventListener("touchend", function(e) {
            e.preventDefault();
            findxy('up', e, canvas);
        }, false);
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e, canvas)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e, canvas)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e, canvas)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e, canvas)
        }, false);
    }
    
    function color(obj) {
        switch (obj.id) {
            case "red":
                x = "red";
                break;
            case "orange":
                x = "orange";
                break;
            case "yellow":
                x = "yellow";
                break;
            case "green":
                x = "green";
                break;
            case "blue":
                x = "blue";
                break;
            case "indigo":
                x = "indigo";
                break;
            case "violet":
                x = "violet";
                break;
            case "white":
                x = "white";
                break;
        }
        if (x == "white") y = 14;
        else y = 2;
        updateColorBox(obj);
    }

    function updateColorBox(obj) {
        document.getElementById("red").setAttribute("style", "display:inline-block;width:17px;height:17px;background:red;border: 1px solid");
        document.getElementById("orange").setAttribute("style", "display:inline-block;width:17px;height:17px;background:orange;border: 1px solid");
        document.getElementById("yellow").setAttribute("style", "display:inline-block;width:17px;height:17px;background:yellow;border: 1px solid");
        document.getElementById("green").setAttribute("style", "display:inline-block;width:17px;height:17px;background:green;border: 1px solid");
        document.getElementById("blue").setAttribute("style", "display:inline-block;width:17px;height:17px;background:blue;border: 1px solid");
        document.getElementById("indigo").setAttribute("style", "display:inline-block;width:17px;height:17px;background:indigo;border: 1px solid");
        document.getElementById("violet").setAttribute("style", "display:inline-block;width:17px;height:17px;background:violet;border: 1px solid");
        document.getElementById("white").setAttribute("style", "display:inline-block;width:17px;height:17px;background:white;border: 1px solid");
        obj.setAttribute("style", "display:inline-block;width:20px;height:20px;background:" + obj.id + ";border: 3px groove black");
    }
    
    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }
    
    function erase() {
        var m = confirm("Are you sure you want to erase your wonderful drawing?");
        if (m) {
            ctx.clearRect(0, 0, w, h);
            document.getElementById("canvasimg").style.display = "none";
        }
    }
    
    function send() {
        var name = document.getElementById('canvasNameField').value
        if (name == "") {
            alert("You need to enter a name before you send me your picture!");
            return;
        }
        var image = canvas.toDataURL();
        var request = new XMLHttpRequest();
        var data = JSON.stringify({'name': name, 'image': image})
        var button = document.getElementById('savebtn')
        request.open("POST", "https://openwhisk.ng.bluemix.net/api/v1/web/david.okun_blogging/default/WebsiteDrawingsSwift.json");
        request.onreadystatechange = function() {
            if (request.readyState == 4) {
                button.disabled = false;
                button.value = "Send";
                alert("Thank you for your art, " + name + "!");
            }
        }
        request.setRequestHeader("Content-Type", "application/json");
        button.disabled = true;
        button.value = "Sending...";
        request.send(data);
    }
    
    function findxy(res, e, canvas) {
        var rect = canvas.getBoundingClientRect();
        if (res == 'down' || res == 'touchdown') {
            prevX = currX;
            prevY = currY;
            if (res == 'touchdown') {
                currX = e.touches[0].clientX - rect.left;
                currY = e.touches[0].clientY - rect.top;
            } else {
                currX = e.clientX - rect.left;
                currY = e.clientY - rect.top;
            }
    
            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move' || res == 'touchmove') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                if (res == 'touchmove') {
                    currX = e.touches[0].clientX - rect.left;
                    currY = e.touches[0].clientY - rect.top;
                } else {
                    currX = e.clientX - rect.left;
                    currY = e.clientY - rect.top;
                }
                
                draw();
            }
        }
    }
    </script>