---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
                <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                <meta name="twitter:card" content="summary">
                <meta name="twitter:site" content="@dokun24">
                <meta name="twitter:creator" content="@dokun24">
                {% if page.title %}
                    <meta name="twitter:title" content="{{ page.title }}">
                {% else %}
                    <meta name="twitter:title" content="{{ site.title }}">
                {% endif %}
                {% if page.url %}
                    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
                {% endif %}
                {% if page.image %}
                    <meta name="twitter:image:src" content="{{ site.url }}/{{ page.header-img }}">
                {% else %}
                    <meta name="twitter:image:src" content="{{ site.url }}/img/blogBackgrounds/04.jpeg">
                {% endif %}
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
